---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import imageAvatar from "../../assets/images/avatar.png";
import ThemeIcon from "./ThemeIcon.astro";

import type { Lang } from "../../i18n/ui";
import { useTranslations } from "../../i18n/utils";

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<nav class="navbar">
  <ul class="navbar-nav">
    <!-- Logo principal -->
    <li class="logo">
      <a href={`/${lang}`} class="nav-link">
        <span class="link-text logo-text">{t("navMain")}</span>
        <Icon name="mdi:chevron-double-right" class="nav-icon" />
      </a>
    </li>

    <!-- Inicio -->
    <li class="nav-item">
      <a href={`/${lang}`} class="nav-link">
        <Image src={imageAvatar} alt="avatar" class:list={["nav-icon"]} />
        <span class="link-text">{t("navHome")}</span>
      </a>
    </li>

    <!-- About -->
    <li class="nav-item">
      <a href={`/${lang}/about`} class="nav-link">
        <Icon name="mdi:account" class="nav-icon" />
        <span class="link-text">{t("navAbout")}</span>
      </a>
    </li>

    <!-- Projects -->
    <!-- <li class="nav-item">
      <a href={`/${lang}/projects`} class="nav-link">
        <Icon name="mdi:code-tags" class="nav-icon" />
        <span class="link-text">{t("navProjects")}</span>
      </a>
    </li> -->

    <!-- Stack -->
    <li class="nav-item">
      <a href={`/${lang}/stack`} class="nav-link">
        <Icon name="mdi:stack-overflow" class="nav-icon" />
        <span class="link-text">{t("navStack")}</span>
      </a>
    </li>

    <!-- Contact -->
    <li class="nav-item">
      <a href={`/${lang}/contact`} class="nav-link">
        <Icon name="mdi:account-box-outline" class="nav-icon" />
        <span class="link-text">{t("navContact")}</span>
      </a>
    </li>

    <!-- Theme Switcher -->
    <li class="nav-item">
      <a href="#" class="nav-link" id="theme-button">
        <ThemeIcon />
        <span class="link-text">{t("navTheme")}</span>
      </a>
    </li>
  </ul>
</nav>

<style>
  /* === NAVBAR === */

  .navbar {
    position: fixed;
    background-color: var(--bg-secondary);
    transition: width 600ms ease;
    z-index: 1;
  }

  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .nav-item {
    width: 100%;
    display: flex;
  }

  .nav-item:last-child {
    margin-top: auto;
  }

  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-secondary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
    justify-content: center;
    padding-left: 15px;
  }

  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    color: var(--text-primary);
  }

  .nav-icon,
  .theme-icon {
    width: 30px;
    height: 30px;
  }

  .nav-icon {
    fill: currentColor;
  }

  .link-text {
    display: none;
    margin-left: 1rem;
  }

  .nav-link svg {
    width: 2rem;
    height: 2rem;
  }

  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }

  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }

  .logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }

  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }

  /* === RESPONSIVE === */

  @media only screen and (max-width: 950px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
      border: none;
    }

    .navbar-nav {
      flex-direction: row;
    }

    .link-text {
      display: none !important;
    }

    .logo {
      display: none;
    }

    .nav-link {
      justify-content: center;
    }

    main {
      margin: 0;
    }

    .content {
      margin-bottom: 150px;
    }
  }

  @media only screen and (min-width: 950px) {
    .navbar {
      top: 0;
      width: 65px;
      height: 100vh;
    }

    .navbar:hover {
      width: 15rem;
    }

    .navbar:hover .logo svg {
      margin-left: 11rem;
    }
  }
</style>
