---
import Room from "./RiddleRoom/Room.astro";
import Tv from "./RiddleRoom/Tv.astro";
import Lamp from "./RiddleRoom/Lamp.astro";
import Avatar from "./RiddleRoom/Avatar.astro";
import Mp3 from "./RiddleRoom/Ps3.astro";
import Ps3 from "./RiddleRoom/Mp3.astro";

import { useTranslations } from "../../i18n/utils";
const { lang } = Astro.props;
const t = useTranslations(lang);
---

<div class="content-riddle">
  <Room>
    <Avatar lang={lang} updateMessage={t("ps3Messages.buttonClick")} />
    <Tv lang={lang} updateMessage={t("tvMessages.buttonClick")} />
    <Mp3 lang={lang} updateMessage={t("ipodMessages.hover")} />
    <Ps3 lang={lang} updateMessage={t("ps3Messages.buttonClick")} />
  </Room>
  <Lamp lang={lang} />
</div>

<style is:global>
  .content-riddle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    gap: 50px;
    overflow: hidden;
  }

  @media (max-width: 1450px) {
    .content-riddle {
      display: none;
    }
  }
</style>
